<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General settings</string>
			<key>footerText</key>
			<string>Requires a respring.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.kef.rofi</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Hold and drag on the slider to move it up and down, or to the opposite side of the screen.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.kef.rofi</string>
			<key>key</key>
			<string>isBarMovable</string>
			<key>label</key>
			<string>Movable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Slider height</string>
			<key>footerText</key>
			<string>Sets the vertical height of the slider.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>com.kef.rofi</string>
			<key>key</key>
			<string>barHeight</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
			<key>showValue</key>
			<false/>
			<key>isSegmented</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Slider width</string>
			<key>footerText</key>
			<string>Sets the horizontal width of the slider.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>com.kef.rofi</string>
			<key>key</key>
			<string>barWidth</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
			<key>showValue</key>
			<false/>
			<key>isSegmented</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Slider visibility</string>
			<key>footerText</key>
			<string>Sets the visibility of the slider. Set it to minimum for a completely invisible slider.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.5</real>
			<key>defaults</key>
			<string>com.kef.rofi</string>
			<key>key</key>
			<string>barAlpha</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
			<key>showValue</key>
			<false/>
			<key>isSegmented</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>defaults</key>
			<string>com.kef.rofi</string>
			<key>action</key>
			<string>respring</string>
		</dict>
	</array>
	<key>title</key>
	<string>Rofi</string>
</dict>
</plist>
